@model ICollection<PlusAndComment.Models.ViewModel.ProductVM>
=========================
<table border="1">
    <thead>
        <tr>
            <th>Category</th>
            <th>Product</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Category.Name</td>
                <td>@product.Name</td>
                <td>@Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { @id = product.ProductId}, null)</td>
            </tr>
        }
    </tbody>
</table>
