@model PlusAndComment.Models.ViewModel.HomeVM

@{
    ViewBag.Title = "Trudne żarty";
}

<head>
    <meta property="og:image" content="@Url.Content("~/Storage/logo.png")" />
</head>

<div class="container" style="max-width: 750px; margin-top: 20px;">
    <div class="row">
        <div class="col-md-12">
            @foreach (var product in Model.Prducts)
            {
                @Html.Label(product.Name)
            }
        </div>
    </div>
</div>
